include mixins

block variables
  -
    const title = '';
    const description = '';

    const breakpoints = {
      desktop: 1440,
      tablet: 768,
    };

    const html = {
      classList: [],
      attributes: {
        lang: 'en',
      },
    };

    const body = {
      classList: [],
      attributes: {},
    };

    const meta = [
      {
        charset: 'utf-8',
      },
      {
        name: 'viewport',
        content: 'width=device-width, initial-scale=1',
      },
      {
        name: 'description',
        content: description,
      },
    ];

    const preloads = [];

    const styles = [
      'css/style.min.css',
    ];

    const links = [];

doctype html
html(class=html.classList)&attributes(html.attributes)
  head
    block head-start
    block meta
      each attributes in meta
        meta&attributes(attributes)
    title!= title
    block preloads
      each preload in preloads
        if typeof preload === 'string'
          link(rel="preload" href!=preload as="font" type="font/woff2" crossorigin)
        else
          link(rel="preload" href!=preload.href as=preload.as || 'font' type=preload.type || 'font/woff2' crossorigin)
    block styles
      each style in styles
        if typeof style === 'string'
          link(rel="stylesheet" href!=style)
        else
          link(rel="stylesheet")&attributes(style)
    block links
      each attributes in links
        link&attributes(attributes)
    block head-end

  body(class=body.classList)&attributes(body.attributes)
    block body-start
    block content
    block scripts
    block body-end
